*{
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    background-image: url("../img/bg-2.png");
    color: rgb(29, 27, 27);
}

div.master{
width: 1140px;
margin: auto;
overflow: hidden;
}

/*HEADER*/

header{
    background-color: orangered;
    overflow: hidden;
    margin-bottom: 30px;

}

header img{
float: left;
padding: 13px;
}

header nav{
padding: 7px;
overflow: hidden;
}

header nav ul.nav{
float: left;
overflow: hidden;
}

header nav ul.log{
float: right;
overflow: hidden;
}

header nav ul li {
float: left;
list-style-type: none;
margin: 0 10px;
}

header nav ul li a {
color: white;
text-decoration: none;
font-weight: 5px;
}



main.home{
    width: 800px;
    float: left;
}



section.productos{
background-color: white;
overflow: hidden;

}

section.productos article.producto{
    margin: 10px 10px 20px 10px;
        width: 380px;
    float: left;
}


section.productos article.producto img {
  width: 100%;
}

section.productos article.producto h2 {
  font-size: 22px;
}



section.productos article.producto button {
       font-size: 20px;
background-color: orangered;
font-weight: bold;
color: white;
padding: 8px;
border: none;
cursor: pointer;
}


aside{
    width: 320px;
    float: right;
    
}
aside h2 {
    background-color: #fff;
    padding: 10px;
    margin: 0 0 16px 0;
    border: 1px solid #c4c4c4;
  }
  
/* TUTORIALES */

aside section.tutoriales div.tutoriales {
    background-color: #fff;
   }
   
   aside section.tutoriales div.tutoriales article {
     padding: 10px;
     overflow: hidden;
     border: 1px solid #c4c4c4;
   }
   
   aside section.tutoriales div.tutoriales article img {
     float: left;
   }
   
   aside section.tutoriales div.tutoriales article p {
     float: right;
     width: 176px;
   }
   
/* PUBLICIDAD */

aside section.publicidad {
    margin-top: 40px;
  }
  
  aside section.publicidad div.publicidad {
    background-color: #fff;
    border: 1px solid #c4c4c4;
  }
  
  aside section.publicidad div.publicidad article {
  
  }
  
  aside section.publicidad div.publicidad article img {
    margin: 9px;
    
  }
  